@{
    ViewData["Title"] = "Home Page";
}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1 class="fa right">کسب و کار خود را با <strong style="color: #3498db;">اپیک</strong> توسعه دهید</h1>
                    <h1 class="en">Grow your business with <strong style="color: #3498db;">EPIC</strong></h1>
                    <p class="en">We are team of talented designers making websites with Bootstrap</p>
                    <p class="fa right">تیمی از طراحان با استعداد در حوضه نرم‌افزار ، وبسایت و وب‌اپلیکیشن</p>
                    <div class="d-flex">
                        <a href="#registration" class="btn-get-started fa">برو بریم</a>
                        <a href="#registration" class="btn-get-started en">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="~/assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->
    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-1.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-2.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-3.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-4.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-5.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-6.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

            </div>

        </div>

    </section><!-- /Clients Section -->
    <!-- About Section -->
    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2 class="fa">درباره ما</h2>
            <h2 class="en">About Us</h2>
            <p class="fa">تیم مهندسی اپیک مجموعه‌ایی از مهندسین خبره و کارآمد در عرصه‌های تجاری و صنعتی</p>
            <p class="en">
                Epic engineering team is a collection of expert and efficient engineers in commercial and
                industrial fields
            </p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-5">

                <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="fa right">بررسی،تحقیق و پیاده‌سازی پژوهش و پروژه‌های<br> تجاری و صنعتی </h3>
                    <h3 class="en">
                        Investigating, researching and implementing all kinds of research and commercial and
                        industrial projects
                    </h3>
                    <p class="fa right">
                        تیم نرم‌افزاری ما به عنوان یک گروه متخصص و کارآمد در زمینه توسعه انواع نرم‌افزار، وب‌سایت و وب‌اپلیکیشن
                        فعالیت می‌کند.<br> ما ارائه‌دهنده‌ی راهکارهای نوآورانه و زیبا برای تمامی نیازهای شما در حوزه فناوری
                        اطلاعات هستیم. <br>اعتماد به خدمات ما به معنای دستیابی به نتایج بهتر و بهبود عملکرد کسب و کار شماست. با
                        تیم ما همراه شوید و تجربه‌ی اختصاصی توسعه نرم‌افزارهای حرفه‌ای را تجربه کنید
                    </p>
                    <p class="en">
                        Our software team works as an expert and efficient group in the field of developing all kinds of software,
                        website and web application. With extensive experience and expert forces at our disposal, we provide
                        innovative and beautiful solutions for all your needs in the field of information technology. Trusting our
                        services means achieving better results and improving your business performance. Join our team and
                        experience the exclusive experience of professional software development.
                    </p>
                    <a href="#Service" class="fa about-btn align-self-center align-self-xl-start">
                        <span>درباره ما</span> <i class="bi bi-chevron-right"></i>
                    </a>
                    <a href="#Service" class="en about-btn align-self-center align-self-xl-start">
                        <span>About us</span> <i class="bi bi-chevron-right"></i>
                    </a>
                </div>

                <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6 icon-box position-relative">
                            <i class="bi bi-briefcase"></i>
                            <h4><a href="" class="fa right stretched-link">همکاری</a></h4>
                            <h4><a href="" class="en stretched-link">Cooperation</a></h4>
                            <p class="fa right">تیم منسجم و هدفمند در جهت رشد و توسعه کسب‌و‌‌کار شما </p>
                            <p class="en">Coherent and purposeful team for the growth and development of your business</p>
                        </div><!-- Icon-Box -->

                        <div class="col-md-6 icon-box position-relative">
                            <i class="bi bi-gem"></i>
                            <h4><a href="" class="fa right stretched-link">تیم متخصص و کارآمد</a></h4>
                            <h4><a href="" class="en stretched-link">Expert and efficient team</a></h4>
                            <p class="fa right">تیمی متشکل از تمامی حوضه‌های نرم‌افزاری و دیپلوی با مهارت و تجربه کافی</p>
                            <p class="en">
                                A team consisting of all software and deployment areas with sufficient skills and
                                experience
                            </p>
                        </div><!-- Icon-Box -->

                        <div class="col-md-6 icon-box position-relative">
                            <i class="bi bi-broadcast"></i>
                            <h4><a href="" class="fa right stretched-link">شفافیت</a></h4>
                            <h4><a href="" class="en stretched-link">Honesty</a></h4>
                            <p class="fa right">ارائه درست و منظم و روند پیشرفت و تضمین صحت و سلامت محصول</p>
                            <p class="en">
                                Proper and regular presentation and progress process and guaranteeing the health and
                                safety of the product
                            </p>
                        </div><!-- Icon-Box -->

                        <div class="col-md-6 icon-box position-relative">
                            <i class="bi bi-easel"></i>
                            <h4><a href="" class="fa right stretched-link">پشتیبانی</a></h4>
                            <h4><a href="" class="en stretched-link">Support</a></h4>
                            <p class="fa right">ارائه پشتیبانی همه جانبه در همه اوقات در حین تولید و پس از تحویل محصول </p>
                            <p class="en">
                                Providing comprehensive support at all times during production and after product delivery
                            </p>
                        </div><!-- Icon-Box -->

                    </div>
                </div>

            </div>

        </div>

    </section><!-- /About Section -->
    <!-- Stats Section -->
    <section id="stats" class="stats section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4 align-items-center">

                <div class="col-lg-5">
                    <img src="~/assets/img/stats-img.svg" alt="" class="img-fluid">
                </div>

                <div class="col-lg-7">

                    <div class="row gy-4">

                        <div class="col-lg-6">
                            <div class="stats-item d-flex">
                                <i class="bi bi-emoji-smile flex-shrink-0"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="105" data-purecounter-duration="1"
                                          class="purecounter"></span>
                                    <p class="en"><strong>Happy Clients</strong> <span>Based on the survey</span></p>
                                    <p class="fa"><strong>رضایت مشتری</strong> <span>بر اساس نظر سنجی</span></p>
                                </div>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-6">
                            <div class="stats-item d-flex">
                                <i class="bi bi-journal-richtext flex-shrink-0"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="41" data-purecounter-duration="1"
                                          class="purecounter"></span>
                                    <p class="fa"><strong>پروژه ها</strong> <span>از زمان تاسیس تا به امروز</span></p>
                                    <p class="en"><strong>Projects</strong> <span>From the time of establishment until today</span></p>
                                </div>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-6">
                            <div class="stats-item d-flex">
                                <i class="bi bi-headset flex-shrink-0"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1"
                                          class="purecounter"></span>
                                    <p class="fa"><strong>ساعات پشتیبانی</strong> <span>پشتیبانی فنی و تخصصی</span></p>
                                    <p class="en"><strong>Hours Of Support</strong> <span>Technical and specialized support</span></p>
                                </div>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-6">
                            <div class="stats-item d-flex">
                                <i class="bi bi-people flex-shrink-0"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                                          class="purecounter"></span>
                                    <p class="fa"><strong>تعداد افراد تیم </strong> <span> فنی تا فروش و پشتیبانی</span></p>
                                    <p class="en">
                                        <strong>Hard Workers</strong> <span>
                                            From the technical team to the sales and support
                                            team
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End Stats Item -->

                    </div>

                </div>

            </div>

        </div>

    </section><!-- /Stats Section -->

    <section id="registration" class="services section" data-aos="fade-up">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2 class="en">Project registration</h2>
            <h2 class="fa">ثبت پروژه</h2>
            <p class="en">Here you can tell your desired project so that our experts can check it</p>
            <p class="fa">اینجا می تونی پروژه مد نظرت رو بگی تا کارشناسان ما بررسیش کنن</p>
        </div><!-- End Section Title -->
        <!-- Process 1 - Bootstrap Brain Component -->
        <section class="py-3 py-md-5 py-xl-8" style="padding-top: 0rem !important; padding-bottom: 0rem !important;">
            <div id="container">
                <div id="form-box">
                    <div>
                        <p style="text-align: right;margin-right: 10px;margin-top: 10px;" class="fa">فرم ثبت پروژه</p>
                        <p style="text-align: right;margin-right: 10px;margin-top: 10px;" class="en">Project registration form</p>
                        <i id="prev-btn" class="fas fa-arrow-left">
                            <img src="~/assets/img/icons8-arrow-64.png" style="transform: rotate(3.142rad);">
                        </i>
                        <i id="next-btn" class="fas fa-arrow-right">
                            <img src="~/assets/img/icons8-arrow.gif">
                        </i>
                        <div id="input-group">
                            <input id="input-field" required>
                            <label id="input-label"></label>
                            <div id="input-progress"></div>
                        </div>
                        <div id="progress-bar"></div>
                    </div>
                </div>
                <div id="h3"></div>
            </div>
        </section>


    </section><!-- /Stats Section -->
    <!-- Services Section -->
    <section id="services" class="services section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2 class="en">Services</h2>
            <h2 class="fa">خدمات</h2>
            <p class="en">Investigating and researching and implementing all kinds of industrial and commercial projects</p>
            <p class="fa">بررسی و تحقیق و پیاده سازی انواع پروژه‌های صنعتی و تجاری</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <i class="bi bi-activity"></i>
                        <h4><a href="" class="stretched-link en">analyze</a></h4>
                        <h4><a href="" class="stretched-link fa right">تحقیق و بررسی</a></h4>
                        <p class="en">
                            Research and research (technical and technical, commercial and material) on an industrial
                            and commercial scale
                        </p>
                        <p class="fa right"> تحقیق و پژوهش (فنی و تکنیکال ، تجاری و مادی) در مقیاس صنعتی و تجاری</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <i class="bi bi-bounding-box-circles"></i>
                        <h4><a href="" class="stretched-link en">Analysis and design of software architecture</a></h4>
                        <h4><a href="" class="stretched-link fa right">تحلیل و طراحی معماری نرم افزار</a></h4>
                        <p class="en">
                            Professional software architecture design is the key to the success of your software
                            projects. With our team, design and implement your systems architecture in the best possible way
                        </p>
                        <p class="fa right">
                            طراحی معماری نرم افزار حرفه‌ای، کلید موفقیت پروژه‌های نرم‌افزاری شماست. با تیم ما،
                            معماری سیستم‌های شما را به بهترین شکل ممکن طراحی و پیاده‌سازی کنید
                        </p>
                    </div>
                </div><!-- End Service Item -->


                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <i class="bi bi-calendar4-week"></i>
                        <h4>
                            <a href="" class="stretched-link en">Custom software design and development for customer needs</a>
                        </h4>
                        <h4><a href="" class="stretched-link fa right">طراحی و توسعه نرم افزار سفارشی برای نیازهای مشتری</a></h4>
                        <p class="en">
                            custom software; The ideal solution for your unique business needs. With our expert team,
                            design and develop a software that exactly meets your goals and accelerates your business.
                        </p>
                        <p class="fa right">
                            نرم‌افزار سفارشی؛ راه حل ایده‌آل برای نیازهای منحصر به فرد کسب و کار شما. با تیم متخصص
                            ما، نرم‌افزاری طراحی و توسعه کنید که دقیقاً به اهداف شما پاسخ دهد و به کسب و کارتان شتاب ببخشد
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <i class="bi bi-broadcast"></i>
                        <h4><a href="" class="stretched-link en">Support and maintenance of existing systems</a></h4>
                        <h4><a href="" class="stretched-link fa">پشتیبانی و نگهداری از سیستم های موجود</a></h4>
                        <p class="en">
                            Forget about worrying about the status of your existing systems. With our maintenance and
                            support team, your systems will always be at their best. They are always available, secure and
                            up-to-date
                        </p>
                        <p class="fa right">
                            نگرانی از وضعیت سیستم‌های موجود خود را فراموش کنید. با تیم نگهداری و پشتیبانی ما،
                            سیستم‌های شما همیشه در بهترین حالت خواهند بود. همواره در دسترس، امن و به روز باقی می‌مانند
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <i class="bi bi-broadcast"></i>
                        <h4>
                            <a href="" class="stretched-link en">Optimizing the performance and scalability of the software</a>
                        </h4>
                        <h4><a href="" class="stretched-link fa">بهینه سازی عملکرد و قابلیت مقیاس پذیری نرم افزار</a></h4>
                        <p class="en">
                            Your software should always be fast, efficient and scalable. With our expertise in
                            performance optimization and scalable design, we will bring your software to the highest level of
                            efficiency and flexibility.
                        </p>
                        <p class="fa right">
                            نرم‌افزار شما باید همواره سریع، کارآمد و قابل مقیاس باشد. با تخصص ما در بهینه‌سازی
                            عملکرد و طراحی مقیاس‌پذیر، نرم‌افزارتان را به بالاترین سطح کارایی و انعطاف‌پذیری خواهیم رساند
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <i class="bi bi-broadcast"></i>
                        <h4><a href="" class="stretched-link en">Training and documentation for end users</a></h4>
                        <h4><a href="" class="stretched-link fa"> آموزش و مستند سازی برای کاربران نهایی </a></h4>
                        <p class="en">
                            User-friendly training and documentation; The key to successful use of your software. With
                            our training and documentation team, your end users will easily work with your software and benefit from
                            all its features.
                        </p>
                        <p class="fa right">
                            آموزش و مستندسازی کاربر‌پسند؛ کلید بهره‌برداری موفق از نرم‌افزار شماست. با تیم آموزشی
                            و مستندسازی ما، کاربران نهایی شما به راحتی با نرم‌افزار شما کار خواهند کرد و از تمام قابلیت‌های آن
                            بهره‌مند خواهند شد
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <i class="bi bi-broadcast"></i>
                        <h4>
                            <a href="" class="stretched-link en">
                                Technical advice and guidance in the field of information
                                technology
                            </a>
                        </h4>
                        <h4><a href="" class="stretched-link fa">مشاوره فنی و راهنمایی در زمینه فناوری اطلاعات</a></h4>
                        <p class="en">
                            In the path of information technology development, you need technical advice and guidance
                            from experts. With extensive IT knowledge and experience, our team will help you make the best
                            technology decisions and reap its benefits.
                        </p>
                        <p class="fa right">
                            در مسیر پیشرفت فناوری اطلاعات، شما نیاز به مشاوره و راهنمایی فنی متخصصان دارید. تیم ما
                            با دانش و تجربه گسترده در IT، به شما کمک خواهد کرد تا بهترین تصمیم‌ها را در زمینه فناوری اتخاذ کنید و از
                            مزایای آن بهره‌مند شوید
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <i class="bi bi-broadcast"></i>
                        <h4><a href="" class="stretched-link en">Repairs and development of old software</a></h4>
                        <h4><a href="" class="stretched-link fa">تعمیرات و توسعه نرم افزار های قدیمی</a></h4>
                        <p class="en">
                            Your old software should not hinder the progress of your business. With our expertise in
                            repairing and developing old software, we update them and align them with your needs today. Get the most
                            out of your previous investment
                        </p>
                        <p class="fa right">
                            نرم‌افزارهای قدیمی شما نباید مانع پیشرفت کسب و کارتان باشند. با تخصص ما در تعمیر و
                            توسعه نرم‌افزارهای قدیمی، آنها را به روز کرده و با نیازهای امروز شما همسو می‌کنیم. از سرمایه‌گذاری قبلی
                            خود بیشترین بهره را ببرید
                        </p>
                    </div>
                </div><!-- End Service Item -->
            </div>

        </div>

    </section><!-- /Services Section -->

    <section id="process" class="services section" data-aos="fade-up">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2 class="en">process</h2>
            <h2 class="fa">روند پروژه</h2>
            <p class="en">All the steps to complete your project</p>
            <p class="fa">تمامی مراحلی که برای انجام پروژه شما طی می شود</p>
        </div><!-- End Section Title -->
        <!-- Process 1 - Bootstrap Brain Component -->
        <section class="py-3 py-md-5 py-xl-8" style="padding-top: 0rem !important; padding-bottom: 0rem !important;">
            <div class="container">
                <div class="row gy-5 gy-lg-0 align-items-lg-center">
                    <div class="col-12 col-lg-7">
                        <img class="img-fluid rounded" loading="lazy" src="~/./assets/img/process-img-1.png"
                             alt="Our Design Process">
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="row justify-content-xl-end">
                            <div class="col-12 col-xl-11">
                                <h2 class="h1 mb-3 en">Order</h2>
                                <h2 class="h1 mb-3 fa">ثبت سفارش</h2>
                                <div class="d-flex mb-4">
                                    <div>
                                        <span class="btn btn-primary bsb-btn-circle pe-none me-4">1</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3 en">Project evaluation</h4>
                                        <h4 class="mb-3 fa">ارزیابی پروژه</h4>
                                        <p class="mb-0 text-secondary en">Immediate review by the technical team</p>
                                        <p class="mb-0 text-secondary fa">بررسی فوری توسط تیم فنی</p>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div>
                                        <span class="btn btn-primary bsb-btn-circle pe-none me-4">2</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3 en">Declaration of conditions</h4>
                                        <h4 class="mb-3 fa">اعلام شرایط</h4>
                                        <p class="mb-0 text-secondary en">Announcing the final conditions for starting the project</p>
                                        <p class="mb-0 text-secondary fa">اعلام شرایط نهایی برای شروع پروژه</p>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div>
                                        <span class="btn btn-primary bsb-btn-circle pe-none me-4">3</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3 en">Statement and start of implementation</h4>
                                        <h4 class="mb-3 fa">بیانه و شروع پیاده سازی</h4>
                                        <p class="mb-0 text-secondary en">Registration and start of project implementation</p>
                                        <p class="mb-0 text-secondary fa">ثبت و شروع پیاده سازی پروژه</p>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div>
                                        <span class="btn btn-primary bsb-btn-circle pe-none me-4">3</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3 en">Settlement and delivery</h4>
                                        <h4 class="mb-3 fa">تسویه و تحویل</h4>
                                        <p class="mb-0 text-secondary en">High quality and fast delivery</p>
                                        <p class="mb-0 text-secondary fa">کیفیت و سرعت بالا در تحویل</p>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div>
                                        <span class="btn btn-primary bsb-btn-circle pe-none me-4">3</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3 en">Doing reform</h4>
                                        <h4 class="mb-3 fa">انجام اصلاحات</h4>
                                        <p class="mb-0 text-secondary en">Final delivery of the project</p>
                                        <p class="mb-0 text-secondary fa">تحویل نهایی پروژه</p>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div>
                                        <span class="btn btn-primary bsb-btn-circle pe-none me-4">3</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3 en">Support</h4>
                                        <h4 class="mb-3 fa">پشتیبانی</h4>
                                        <p class="mb-0 text-secondary en">24 hour support</p>
                                        <p class="mb-0 text-secondary fa">پشتیبانی 24 ساعته</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Alt Services Section -->
        <section id="alt-services" class="alt-services section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2 class="en">blog</h2>
                    <h2 class="fa">بلاگ</h2>
                    <p class="en">Solutions for business growth and development</p>
                    <p class="fa">راهکار هایی برای رشد و توسعه کسب و کار ها</p>
                </div><!-- End Section Title -->

                <div class="row gy-4">

                    <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="img">
                                <img src="~/assets/img/services-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details">
                                <a href="service-details.html" class="stretched-link">
                                    <h3 class="fa">تیم منسجم با همکاری بالا</h3>
                                    <h3 class="en">Cohesive team with high cooperation</h3>
                                </a>
                                <p class="fa">از بزرگترین راه های موفقیت ، همکاری در بین اعضای تیم است</p>

                                <p class="en">One of Moffitt's biggest ways is collaboration among team members</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="img">
                                <img src="~/assets/img/services-2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details">
                                <a href="service-details.html" class="stretched-link">
                                    <h3 class="fa">کیفیت بالا</h3>
                                    <h3 class="en">High Quality</h3>

                                </a>
                                <p class="fa">ایجاد محصول با کیفیت مناسب تنها با بررسی و شناخت دقیق محصول میسر خواهد بود</p>
                                <p class="en">
                                    It will be possible to create a product with the right quality only by examining and
                                    knowing the product in detail
                                </p>

                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="img">
                                <img src="~/assets/img/services-3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details">
                                <a href="service-details.html" class="stretched-link">
                                    <h3 class="fa">تولید محتوای مناسب</h3>
                                    <h3 class="en">Producing the right content</h3>

                                </a>
                                <p class="fa">لازمه رشد و توسعه کسب و کار ها تولید محتوای مرتبت و مناسب می باشد</p>
                                <p class="en">
                                    The requirement for the growth and development of businesses is the production of orderly
                                    and appropriate content
                                </p>

                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="500">
                        <div class="service-item position-relative">
                            <div class="img">
                                <img src="~/assets/img/services-4.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details">
                                <a href="service-details.html" class="stretched-link">
                                    <h3 class="fa">تبلیغات</h3>
                                    <h3 class="en">Advertising</h3>

                                </a>
                                <p class="fa">تبلیغات گسترده و درست یکی از مهم ترین راه های توسعه هر کسب و کاری می باشد</p>
                                <p class="en">
                                    Wide and accurate advertising is one of the most important ways to develop any business
                                </p>

                                <a href="service-details.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Alt Services Section -->
        <!-- Features Section -->
        <section id="features" class="features section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2 class="en">Features</h2>
                <h2 class="fa">امکانات</h2>
                <p class="en">
                    Complete your projects quickly and with high quality with our software team. With our expertise
                    and experience, we provide you with innovative solutions so that you can be the leader in the market.
                </p>
                <p class="fa">
                    با تیم نرم‌افزاری ما، پروژه‌های خود را به سرعت و با کیفیت بالا به سرانجام برسانید. ما با تخصص و
                    تجربه خود، راه‌حل‌های نوآورانه ای را برای شما ارائه می‌دهیم تا بتوانید در بازار پیشتاز باشید."
                </p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="features-item">
                            <i class="bi bi-eye" style="color: #ffbb2c;"></i>
                            <h3><a href="" class="stretched-link fa">طراحی و توسعه نرم افزار</a></h3>
                            <h3><a href="" class="stretched-link en">Software design and development</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="features-item">
                            <i class="bi bi-infinity" style="color: #5578ff;"></i>
                            <h3><a href="" class="stretched-link fa">تحلیل و طراحی سیستم</a></h3>
                            <h3><a href="" class="stretched-link en">System analysis and design</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="features-item">
                            <i class="bi bi-mortarboard" style="color: #e80368;"></i>
                            <h3><a href="" class="stretched-link fa">پیاده سازی و پیکربندی</a></h3>
                            <h3><a href="" class="stretched-link en">Implementation and configuration</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="features-item">
                            <i class="bi bi-nut" style="color: #e361ff;"></i>
                            <h3><a href="" class="stretched-link fa">تست و اعتبارسنجی</a></h3>
                            <h3><a href="" class="stretched-link en">Testing and validation</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
                        <div class="features-item">
                            <i class="bi bi-shuffle" style="color: #47aeff;"></i>
                            <h3><a href="" class="stretched-link fa">پیاده سازی و پیکربندی</a></h3>
                            <h3><a href="" class="stretched-link en">Implementation and configuration</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="features-item">
                            <i class="bi bi-star" style="color: #ffa76e;"></i>
                            <h3><a href="" class="stretched-link fa">مدیریت پروژه</a></h3>
                            <h3><a href="" class="stretched-link en">Project Management</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
                        <div class="features-item">
                            <i class="bi bi-x-diamond" style="color: #11dbcf;"></i>
                            <h3><a href="" class="stretched-link fa">مدیریت پیکربندی و تغییرات</a></h3>
                            <h3><a href="" class="stretched-link en">Configuration management and changes</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
                        <div class="features-item">
                            <i class="bi bi-camera-video" style="color: #4233ff;"></i>
                            <h3><a href="" class="stretched-link fa">مدیریت کیفیت</a></h3>
                            <h3><a href="" class="stretched-link en">Quality management</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="900">
                        <div class="features-item">
                            <i class="bi bi-command" style="color: #b2904f;"></i>
                            <h3><a href="" class="stretched-link fa">پشتیبانی و نگهداری</a></h3>
                            <h3><a href="" class="stretched-link en">Support and maintenance</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1000">
                        <div class="features-item">
                            <i class="bi bi-dribbble" style="color: #b20969;"></i>
                            <h3><a href="" class="stretched-link fa">آموزش و مستندسازی</a></h3>
                            <h3><a href="" class="stretched-link en">Training and documentation</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1100">
                        <div class="features-item">
                            <i class="bi bi-activity" style="color: #ff5828;"></i>
                            <h3><a href="" class="stretched-link fa">تجزیه و تحلیل داده ها</a></h3>
                            <h3><a href="" class="stretched-link en">data analysis</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1200">
                        <div class="features-item">
                            <i class="bi bi-brightness-high" style="color: #29cc61;"></i>
                            <h3><a href="" class="stretched-link fa">امنیت و محافظت از داده ها</a></h3>
                            <h3><a href="" class="stretched-link en">Security and data protection</a></h3>
                        </div>
                    </div><!-- End Feature Item -->

                </div>

            </div>

        </section><!-- /Features Section -->
        <!-- Testimonials Section -->
        <section id="testimonials" class="testimonials section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2 class="en">Feedback</h2>
                <h2 class="fa">بازخورد</h2>
                <p class="en">Examples of customer feedback of this software team</p>
                <p class="fa">نمونه هایی از بازخورد های مشتری های این تیم نرم افزاری</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 40
                            },
                            "1200": {
                              "slidesPerView": 2,
                              "spaceBetween": 20
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                    <h3>Saul Goodman</h3>
                                    <h4>Ceo &amp; Founder</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                                            Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="~/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                    <h3>Sara Wilsson</h3>
                                    <h4>Designer</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram
                                            malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="~/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                    <h3>Jena Karlis</h3>
                                    <h4>Store Owner</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                                            minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="~/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                    <h3>Matt Brandon</h3>
                                    <h4>Freelancer</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                                            velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                                            veniam.
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="~/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                    <h3>John Larson</h3>
                                    <h4>Entrepreneur</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>
                                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam
                                            enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi
                                            cillum quid.
                                        </span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Testimonials Section -->
        <!-- Portfolio Section -->
        <section id="portfolio" class="portfolio section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2 class="fa">نمونه محصولات</h2>
                <h2 class="en">examples of the products</h2>
                <p class="fa">برخی از نمونه محصولات این تیم نرم افزاریی</p>
                <p class="en">Some examples of the products of this software team</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                    <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                        <li data-filter="*" class="filter-active en">All</li>
                        <li data-filter=".filter-app" class="en">App</li>
                        <li data-filter=".filter-product" class="en">Product</li>
                        <li data-filter="*" class="filter-active fa">همه</li>
                        <li data-filter=".filter-app" class="fa">اپ</li>
                        <li data-filter=".filter-product" class="fa">محصولات</li>
                    </ul><!-- End Portfolio Filters -->

                    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/app-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/app-1.jpg" title="App 1" data-gallery="portfolio-gallery-app"
                                       class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/product-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Product 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/product-1.jpg" title="Product 1"
                                       data-gallery="portfolio-gallery-product" class="glightbox preview-link">
                                        <i class="bi bi-zoom-in"></i>
                                    </a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/branding-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Branding 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/branding-1.jpg" title="Branding 1"
                                       data-gallery="portfolio-gallery-branding" class="glightbox preview-link">
                                        <i class="bi bi-zoom-in"></i>
                                    </a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/books-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Books 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/books-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-book"
                                       class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/app-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/app-2.jpg" title="App 2" data-gallery="portfolio-gallery-app"
                                       class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/product-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Product 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/product-2.jpg" title="Product 2"
                                       data-gallery="portfolio-gallery-product" class="glightbox preview-link">
                                        <i class="bi bi-zoom-in"></i>
                                    </a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/branding-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Branding 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/branding-2.jpg" title="Branding 2"
                                       data-gallery="portfolio-gallery-branding" class="glightbox preview-link">
                                        <i class="bi bi-zoom-in"></i>
                                    </a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/books-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Books 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/books-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-book"
                                       class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/app-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/app-3.jpg" title="App 3" data-gallery="portfolio-gallery-app"
                                       class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/product-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Product 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/product-3.jpg" title="Product 3"
                                       data-gallery="portfolio-gallery-product" class="glightbox preview-link">
                                        <i class="bi bi-zoom-in"></i>
                                    </a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/branding-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Branding 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/branding-3.jpg" title="Branding 2"
                                       data-gallery="portfolio-gallery-branding" class="glightbox preview-link">
                                        <i class="bi bi-zoom-in"></i>
                                    </a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/books-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Books 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery-book"
                                       class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="/portfolio" title="More Details" class="details-link">
                                        <i class="bi bi-link-45deg"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                    </div><!-- End Portfolio Container -->

                </div>

            </div>

        </section><!-- /Portfolio Section -->
        <!-- Team Section -->
        <section id="team" class="team section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2 class="fa">تیم ما</h2>
                <h2 class="en">Team</h2>
                <p class="fa">مشخصات و مهارت افراد تیم را می توانید در اینجا مشاهده کنید</p>
                <p class="en">You can see the profile and skills of the team members here</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4 class="fa">مهدی شمس</h4>
                                <h4 class="en">Mahdi Shams</h4>
                                <span class="en">co-founder</span>
                                <span class="fa">هم بنیانگذار</span>

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4 class="fa">محمد امین آقا کبیری</h4>
                                <h4 class="en">Mohammad Amin Aghakabiri</h4>
                                <span class="en">co-founder</span>
                                <span class="fa">هم بنیانگذار</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                </div>

            </div>

        </section><!-- /Team Section -->
        <!-- Pricing Section -->
        <!-- Faq Section -->
        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2 class="en">Contact</h2>
                <h2 class="fa">ارتباط با ما</h2>
                <p class="en">Be in touch with us</p>
                <p class="fa">با ما در ارتباط باشید</p>
            </div><!-- End Section Title -->

            <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-5">
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h3 class="en">Address</h3>
                                <h3 class="fa">ادرس</h3>
                                <p class="en">Isfahan - Azadi Square - Isfahan University</p>
                                <p class="fa">اصفهان - میدان آزادی - دانشگاه اصفهان </p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3 class="fa">شماره تماس</h3>
                                <h3 class="en">Call Us</h3>
                                <p class="fa">+98-9908520087 - +98 9912339788</p>
                                <p class="en">+98-9908520087 - +98 9912339788</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3 class="en">Email Us</h3>
                                <h3 class="fa">ایمیل</h3>
                                <p class="fa">info@example.com</p>
                                <p class="en">info@example.com</p>
                            </div>
                        </div><!-- End Info Item -->

                    </div>

                    <div class="col-lg-7">
                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
                              data-aos-delay="500">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name - نام" required="">
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email - ایمیل" required="">
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject - موضوع" required="">
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message - متن پیام"
                                              required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading" class="en">Loading</div>
                                    <div class="loading" class="fa">در حال لود</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message" class="en">Your message has been sent. Thank you!</div>
                                    <div class="sent-message" class="fa">با تشکر پیام شما با موفقیت ارسال شد</div>

                                    <button type="submit" class="en">Send Message</button>
                                    <button type="submit" class="fa">ارسال پیام</button>
                                </div>

                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section><!-- /Contact Section -->

</main>